@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: "Be Vietnam Pro", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: var(--font);
}

a {
    text-decoration: none;
    list-style: none;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background-color: #ffff;
    padding: 24px;
}

.header .inner__wrap {
    display: flex;
    align-items: center;
}

.header .header__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    color: black;
}

.header .header__bar {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.header .header__bar li {
    margin-right: 24px;
}

.header .header__bar li a {
    font-size: 16px;
    color: black;
}

.header .header__form {
    background-color: #F0F0F0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 52px;
    height: 48px;
    display: flex;
    flex: 1;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
}

.header .header__form input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-right: 20px;
    
}

.header .header__form button {
    border: 0;
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 20px;
    color: #8F8F8F;
}

.header .header__cart {
    margin-left: 40px;
}

.header .header__cart a{
    font-size: 27px;
    color: black;
}
/* End header */



/* Cac section */



/* footer */
.footer {
    background-color: #F0F0F0;
}

.footer .inner__wrap {
    padding-top: 142px;
    padding-bottom: 52px;
}

.footer .footer__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.footer .footer__main {
    width: 248px;
}

.footer .footer__main .footer__title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer .footer__main .footer__desc {
    opacity: 0.6;
    font-size: 14px;
    margin-bottom: 35px;
}

.footer .footer__main .footer__social i{
    margin-left: 12px;
    font-size: 28px;
    color: black;
}

.footer .footer__bar .footer__title {
    font-size: 16px;
    margin-bottom: 26px;
    font-weight: 700;
}

.footer .footer__bar .footer__desc li {
    margin-bottom: 10px;
}

.footer .footer__bar .footer__desc li a {
    color: black;
    opacity: 0.6;
}

.footer .footer__bottom {
    opacity: 0.6;
    text-align: center;
}
/* end footer */


/* Login */

.login {
    margin-top: 40px;
    margin-bottom: 40px;
}

.login .inner__wrap {
    display: flex;
    justify-content: center;
}

.form {
    padding: 40px;
    width: 550px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form .title {
    margin: 0;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    height: 60px;
    border: 0;
    background-color: #F5F5F5;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.form button {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #525fe1;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.notAccount {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notAccount a {
    color: black;
    opacity: 0.6;
}

.notAccount a:hover {
    color: #525fe1;
    opacity: 1;
}
/* End login */

/* section-1 */
.section-1 {
    background-color: #F2F0F1;
}

.section-1 .inner__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section-1 .content .title {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 30px;
}

.section-1 .content .sub-title{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: 50px;
}

.section-1 .button {
    color: white;
    background-color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 62px;
    margin-bottom: 50px;
    display: inline-block;
}

.section-1 .desc {
    display: flex;
}

.section-1 .descBox {
    border-right: 1px solid gray;
    padding-right: 32px;
    margin-right: 32px;
}

.section-1 .descBox:last-child {
    border: none;
    padding-right: 0;
    margin-right: 0;
}

.section-1 .descBox .descBox-number {
    font-size: 40px;
    font-weight: 700;
}

.section-1 .descBox .descBox-title {
    opacity: 0.6;
}

.section-1 .images {
    position: relative;
    overflow: hidden;
}

.section-1 .images img {
    width: 100%;
    object-fit: cover;
    margin-bottom: -7px;
    padding-top: 50px;
}

.section-1 .images .star {
    width: 56px;
    position: absolute;
    top: 250px;
    left: 10px;
}

.section-1 .images .star-2 {
    width: 104px;
    position: absolute;
    top: 65px;
    right: 0px;
}
/* end section-1 */

/* tradeMark */
.tradeMark {
    background-color: #000000;
}

.tradeMark .inner__wrap {
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    justify-content: center;
}

.tradeMark .inner__wrap img {
    object-fit: cover;
    height: 33px;
    margin-right: 50px;
}

.tradeMark .inner__wrap img:last-child {
    margin-right: 0;
}
/* end tradeMark */